# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
package-lock.json
/*-script
.release.json
.gitmodules

# pnpm cache
pnpm-lock.yaml
.pnpm-debug.log

# yarn dependencies & cache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock
