.device__schedule--element1--tab1--main__div {
	display: flex;
	flex-direction: column;
}

.schedule--input {
	width: 50px;
}

.raspisanie__block {
	display: flex;
	width: auto;
	flex-direction: row;
	justify-content: center;
}
